astroid==2.2.5
autopep8==1.4.4
certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
idna==2.10
isort==4.3.17
kiwisolver==1.3.1
lazy-object-proxy==1.3.1
matplotlib==3.4.2
mccabe==0.6.1
numpy==1.20.3
opencv-contrib-python==3.4.2.16
Pillow==8.2.0
pycodestyle==2.5.0
pylint==2.3.1
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.25.1
Sift==5.0.1
six==1.16.0
typed-ast==1.3.1
urllib3==1.26.4
wincertstore==0.2
